/*      СЛОЙ        */
.page {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 800px;
	padding: 32px 60px 0 60px;
	background: #FFF;
	box-shadow: -100px 8px 124px rgba(38, 39, 43, 0.12);
	z-index: 500;
	filter: opacity(0);
	overflow: hidden;
	-webkit-transform: translate3d(150px,0,0);
	-moz-transform: translate3d(150px,0,0);
	-o-transform: translate3d(150px,0,0);
	-ms-transform: translate3d(150px,0,0);
	transform: translate3d(150px,0,0);
	-webkit-transition: width .4s ease,max-width .4s ease,-webkit-transform .3s cubic-bezier(.33,.13,.32,1),filter .1s cubic-bezier(.33,.13,.32,1);
	-moz-transition: width .4s ease,max-width .4s ease,-moz-transform .3s cubic-bezier(.33,.13,.32,1),filter .1s cubic-bezier(.33,.13,.32,1);
	-o-transition: width .4s ease,max-width .4s ease,-o-transform .3s cubic-bezier(.33,.13,.32,1),filter .1s cubic-bezier(.33,.13,.32,1);
	-ms-transition: width .4s ease,max-width .4s ease,-ms-transform .3s cubic-bezier(.33,.13,.32,1),filter .1s cubic-bezier(.33,.13,.32,1);
    transition: width .4s ease,max-width .4s ease,transform .3s cubic-bezier(.33,.13,.32,1),filter .1s cubic-bezier(.33,.13,.32,1);
}
.page.open {
	display: block;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    filter: opacity(1);
}
.page.open~.page.open {
	transform: translateX(-12px);
	z-index: 499;
}
.page.open~.page.open~.page.open {
	transform: translateX(-24px);
	z-index: 498;
}
.page.open~.page.open~.page.open~.page.open {
	transform: translateX(-36px);
	z-index: 497;
}
.page.open~.page.open~.page.open~.page.open~.page.open {
	transform: translateX(-48px);
	z-index: 496;
}

/*   Загрузка содержимого   */
.page.loading::before,
.select__menu.loading::before {
	width: 42px;
	height: 42px;
	background: url(../img/loading.svg);
	-webkit-background-size: cover;
	background-size: cover;
}
/*		Loader for IE 	*/
_:-ms-lang(x),
.page.loading::before {
	background: url(../img/loading.gif);
	background-size: cover;
}
_:-ms-lang(x),
.select__menu.loading::before {
	background: url(../img/loading.gif);
	background-size: cover;
}

.page.loading::after,
.select__menu.loading::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	opacity: 0.72;
	border-radius: 6px;
	z-index: 1;
}


/* 	Обертка содержимого слоя		*/
.page-content {
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	bottom: 68px;
	padding: 0 60px 16px;
	overflow: auto;/*для IE*/
	overflow: overlay;
}
.page--no-bottom-panel .page-content {
	bottom: 0 !important;
}

.page img {
	max-width: 100%;
}

/*		Заголовок слоя 		*/
.page-content .page-header {
	margin: 9px 0 20px;
	-ms-align-items: unset;
	align-items: unset;
}
.page-content .page-header + .page-description {
	margin-bottom: 24px;
}
.page-content .page-header .page-title {
	margin-right: 12px;
	font-size: 28px;
	font-weight: 900;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page-content .page-header .status {
    margin-top: 8px;
}
.page-content .page-header .page-title .emoji-mart-emoji {
	margin-right: 15px;
}
.page-content .page-header .help-link {
	line-height: 46px;
	font-size: 32px;
}

/*  Нижняя панель действий */
.page-action-panel,
.popup-action-panel {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 68px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 0 60px;
	background: #FFF;
	box-shadow: 0 0 24px rgba(38, 39, 43, 0.12);
	border-radius: 0 0 6px 6px;
}

button.clean.icon--trash {margin-left: auto;}

/*      Кнопка закрытия слоя, попапа    */
.page-close,
.popup_close {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	width: 36px;
	height: 36px;
	left: 4px;
	top: 4px;
	background: #F5F7FB;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	z-index: 1;
}

.popup_close {
	left: auto;
	right: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-close:hover,
.popup_close:hover {background: #eaedf4;}

.page-close:hover::before,
.popup_close:hover::before {color: #26272b !important;}

.page-close::before,
.popup_close::before {
	margin: auto;
}

.page .form .field-array button {
	display: block;
	margin-top: 10px;
}
.page .form .field-array .delete-select + button {
	margin-top: 0;
}
.page .form .field-array-item {
	margin-bottom: 15px;
}
.page .form .field-array .basic-single {
	display: inline-block;
	width: 400px;
}
.page .form .field-array i.delete-select {
	position: absolute;
	top: 8px;
	margin-left: 12px;
	color: #8D8F9A;
	cursor: pointer;
}
.page .form .checkboxes-inline>span:not(:last-child) {
	margin-right: 20px;
}
.page .form .checkboxes-inline .label-checkbox {
	margin-top: 10px;
}
.page .table-list .row {
	background: #f5f7fb;
}

.page .form td > .help-link {
	margin-left: 7px;
	vertical-align: 0;
}


/*      Слой "Создание бота"    */
.page--bot textarea {
	width: 370px;
}
.page--bot .input-description {
	margin-left: 16px;
	color: #1276ED;
	font-size: 14px;
	cursor: pointer;
}

/*      Слой "Подробнее"    */
.page--more-info * + p,
.page--more-info * + img {
	margin-top: 12px;
}
.page--more-info img {
	margin: 12px 0;
	max-width: 100%;
	border-radius: 6px;
}

/*      Слой "Список шагов настройки системы"    */
.page--service-settings-progress-list {
	width: 500px;
}
.page--service-settings-progress-list .page-content {
	bottom: 24px;
	padding-right: 40px;
}
.progress-item {
	padding-left: 60px;
	margin-left: -2px;
	cursor: pointer;
}
.progress-item:not(:last-child) {
	margin-bottom: 24px;
}
.progress-item::before {
	content: '\63';
	position: absolute;
	top: 3px;
	left: 0;
	color: #FFF;
	font-size: 36px !important;
	border: 3px solid #CED2DC;
	border-radius: 50%;
}
.progress-item.complete::before {
	content: '\63';
	background: #3DAE41;
	border-color: #3DAE41;
}
.progress-item h4 {
	color: #4F7BEB;
}
.progress-item:hover h4 {
	text-decoration: underline;
}

/*		Слой "Обучение"		*/
.page--learning .page-content {
	bottom: 24px;
}
.page--learning .page-content > img {
	margin-bottom: 32px;
}
.page--learning .trainings-block {
	margin-top: 24px;
}
.page--learning .trainings-block .item {
	margin-bottom: 20px;
	padding-left: 156px;
}
.page--learning .trainings-block button {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 124px;
	margin: 0;
}
.page--learning .trainings-block .title {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}
.page--learning .trainings-block .description {
	font-size: 12px;
	line-height: 14px;
	color: #8D8F9A;
}

/*		Слой "Тренировка"	*/
.page--training .page-content {
	bottom: 24px;
}
.page--training.page--steps .page-content .page-description {
	padding-right: 0;
	margin-bottom: 32px;
}
.page--training.page--steps .form td {
	vertical-align: inherit;
}
.page--training.page--steps .form button {
	min-width: 100px;
}

.page--training .center-x-y {
	width: 450px;
}
.page--training .center-x-y h2 {
	margin-bottom: 40px;
	color: #3DAE41;
	text-align: center;
}
.page--training .center-x-y h2::before {
	margin-bottom: 16px;
	display: block;
	font-size: 72px;
}
.page--training .center-x-y button {
	display: block;
	width: 200px;
	margin: 24px auto 0;
}

/*		Слой "Настройки"		*/
.page--settings .page-content {
	overflow-x: hidden;
}

.page--settings .ant-tabs-content {
	overflow: auto;
	height: calc(100vh - 240px);
}

.page--settings .ant-tabs .ant-tabs-bar {
	margin-bottom: 24px;
}
/* Таблица в слое */
.page .table-widget {
	margin-bottom: 16px;
	border-collapse: separate;
}
.page .table-widget tbody tr {
	cursor: pointer;
}
.page .table-widget th {
	text-align: left;
}
.page .table-widget tr > *:last-child {
    width: 22px;
    text-align: right;
    padding-left: 0;
}
.page .table-widget td {
	border-top: 1px solid #EAEDF4;
}
.page .table-widget tr:last-child td {
	border-bottom: 1px solid #EAEDF4;
}
.page .table-widget tr:first-child td:first-child {
	border-top-left-radius: 6px;
}
.page .table-widget tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}
.page .table-widget tr:first-child td:last-child {
	border-top-right-radius: 6px;
}
.page .table-widget tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}
.page .table-widget td:first-child {
	border-left: 1px solid #EAEDF4;
}
.page .table-widget td:last-child {
	border-right: 1px solid #EAEDF4;
}

/* 	Таблица "Пользователи"	 */
.table-widget.users td {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 	Таблица "Боты" 	*/
/* Название */
.table-widget.bots {
	min-width: 480px;
	table-layout: fixed;
}
.table-widget.bots td:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
}
/* тип */
.table-widget.bots tr > *:nth-child(2) {
	width: 12%;
}
/* по умолчанию */
.table-widget.bots tr > *:nth-child(3) {
	width: 12%;
	text-align: right;
}
/* статус */
.table-widget.bots th:nth-child(4) {
	width: 102px;
	padding-right: 20px;
	text-align: right;
}
.table-widget.bots td:nth-child(4) {
	text-align: right;
}

.page .ant-empty {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
